body {
    padding: 50px;
    font-family: sans-serif; 

    background-image: url(../img/orange_cloud.jpg);
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    display: flex;
    justify-content: center;
}