
.input-prompt {
    position: fixed;
    bottom: 165px;
    width:600px;
    z-index: 1;
    display: inline-block;

    font-size: 20px;
    text-align: left;
    color: rgb(83, 82, 82);
    font-family: 'Manjari', sans-serif;

    padding: 17px;
    border: none;
    background-color: rgba(255,255,255,.6);
    border-radius: 10px;
    
    left: 50%;
    margin-left: -400px;
    width: 800px;
}

.input-prompt:focus {
    background-color: rgba(255, 255, 255, 0.9);
    outline:none;
}
.toDoListMain .theList {
    list-style: none;
    padding-left: 0;
    width: 250px;
}

li {
    color: #333;
    background-color: rgba(255,255,255,.5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
 
    transition: background-color .2s ease-out;
}
 
li:hover {
  background-color: pink !important;
  cursor: pointer;
}

ul.theList {
    padding: 0;
}