
.input-prompt {
    position: fixed;
    bottom: 165px;
    width:600px;
    z-index: 1;
    display: inline-block;

    font-size: 20px;
    text-align: left;
    color: rgb(83, 82, 82);
    font-family: 'Manjari', sans-serif;

    padding: 17px;
    border: none;
    background-color: rgba(255,255,255,.6);
    border-radius: 10px;
    
    left: 50%;
    margin-left: -400px;
    width: 800px;
}

.input-prompt:focus {
    background-color: rgba(255, 255, 255, 0.9);
    outline:none;
}